:root {
    --color-error: darkred;
}

@media (prefers-color-scheme: dark) {
  :root[color-mode="user"] {
    --color-bg: #222; /* darker background for better readability */
    --color-error: hotpink
  }
}

button[type="reset"] {
  background-color: var(--color-accent); /* rgb(110, 152, 178);*/
  /*color: var(--color-text-secondary);*/
}

button {
  padding: 0.6rem 1.5rem;
}

input {
  min-width: 91%; /* this might be extreme and mess up certain inputs */
}

main {
  padding-top: 0.5rem;
}

nav {
  margin-bottom: 2rem;
}

form header {
  margin: 0;
  padding: -80px;
}

/*
This didn't fix the weird Safari selection behavior when
the validation errors are hidden and unselectable

form {
  user-select: 'none',
}
*/


/*
not actually an override -- a loading spinner class, for div
probably should be in its own file
*/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*linear-gradient(white, white) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;*/
.spinner {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  background-color: var(--color-accent);
  /*border: 10px solid var(--color-text-secondary);*/

  border-top: 3px solid var(--color-link);
  /*border: 10px solid var(--color-text-secondary);*/
  /*border-top: 10px solid var(--color-link);*/
  border-radius: 50%;
  height: 31px;
  width: 34px; /* height + border width */
  animation: spin 1s linear infinite;
  animation-duration: 5s;
}
